.container {
  padding: 2rem;
}
mat-form-field {
  margin-right: 2rem;
}
.mentor-table {
  min-height: 360px;
}

.active {
  color: green;
}

.pending {
  color: red;
}

.noDataRow {
  padding: 1rem;
}
.noDataRow span {
  color: red;
}
