<mat-sidenav-container fullscreen>
  <mat-sidenav #sideNav>
    <mat-nav-list>
      <a mat-list-item routerLink="/" (click)="sideNav.close()">
        <mat-icon>live_tv</mat-icon>
        <span>Movie</span>
      </a>

      <a mat-list-item routerLink="actor" (click)="sideNav.close()">
        <mat-icon>face</mat-icon>
        <span>Actor</span>
      </a>

      <a mat-list-item routerLink="about" (click)="sideNav.close()">
        <mat-icon>question_answer</mat-icon>
        <span>About</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sideNav.open()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
