mat-card {
  width: 300px;
  margin-bottom: 2.5rem;
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
}

mat-card:hover {
  transform: scale(1.05);
}
mat-card img {
  margin: 0 auto;
  width: 98%;
  height: 350px;
}
mat-card-subtitle {
  font-size: 1.2rem;
}
